.vac_preview{
	color: rgb(137, 137, 137);
	margin-top: 10px;
	line-height: 1;
}




.block_inj_soor{
	color: #434242;
	line-height: 1;
}
.ul_blue_kub{
	color:#898989; 
	list-style-image:url(/bitrix/images/line4.jpg);
	margin-left:15px
}

.block_inj_soor p{
	margin-bottom: 20px;
}

.torg_centr_opis{
	line-height: 1;
	color: rgb(137, 137, 137);
}
.torg_centr_opis p{
	margin-bottom: 20px;
}




/*========= портфель проектов ============*/
.portfel_projects{
	width: 100%;
	padding: 3px 0;
}
.portfel_projects img{
	width: 100%;
}

@media(max-width: 768px){
	.portfel_projects{
		display: none;
	}
}




/*================= services ==================*/
.block_img_uslugi_index2{
	margin:220px 0 80px 0;
	background-color: rgba(255,255,255, 0.7);
	padding:30px 10px;
}

.serv_block_icon_wrap{
	height: 100%;
	max-width:980px;
	width: 100%;
	margin: 0 auto 0;
 	text-align: center;
}
.serv_block_ssilka{
	width: 24%;
	display: inline-block;
	vertical-align: top;
	margin-left: -5px;
	text-align: center;
	margin-right: 1.4%;
}
.serv_blocks{
	padding: 20px 0;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;

}
.serv_block_text span{
	height: 45px;
	display: table-cell;
	vertical-align: middle;
	width: 300px;
}
.serv_wrap_img{
	display: inline-block;
	width: 130px;
}
.serv_block_text{
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 1.2;
	padding: 8px 0;
	text-transform: uppercase;
}
.serv_block_ssilka:first-child{
	margin-left: 0;
}
.serv_block_ssilka:last-child{
	margin-right: 0;
}

.serv_block_ssilka:first-child:hover .serv_blocks{
	background-color: #585858;
}
.serv_block_ssilka:first-child .serv_block_text{
	background-color: #585858;
}

.serv_block_ssilka:nth-child(2):hover .serv_blocks{
	background-color: #5E969F;
}
.serv_block_ssilka:nth-child(2) .serv_block_text{
	background-color: #5E969F;
}
.serv_block_ssilka:nth-child(3):hover .serv_blocks{
	background-color: #898989;
}
.serv_block_ssilka:nth-child(3) .serv_block_text{
	background-color: #898989;
}
.serv_block_ssilka:last-child:hover .serv_blocks{
	background-color: #008DD2;
}
.serv_block_ssilka:last-child .serv_block_text{
	background-color: #008DD2;
}
.percent_200{
	width: 200%;
}
.percent_200_block{
	width: 23%;/*125px;*/
	/*height: 45px; */
	display:inline-block; 
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 2%;/*10px;*/
	margin-left: -5px;
}
.percent_200_block img{
	width: 100%;
}
/*.percent_200_block:nth-child(4n+4){
	margin-right: 0;
	margin-left: 0;
}
.percent_200_block:first-child{
	margin-left: 0;
}

/*.percent_200_block:last-child{
	margin-right: 0;
}*/
.plashka_seraya_vn{
	box-sizing: border-box;
}

@media(max-width: 1500px){
	.percent_200{
		width: 170%;
	}
}
@media(max-width: 1350px){
	.percent_200{
		width: 130%;
	}
	.percent_200_block{
		width: 30%;
	}
}
@media(max-width: 1090px){
	.percent_200{
		width: 100%;
	}
	.percent_200_block{
		width: 48%;
	}
}
@media(max-width: 992px){
	.serv_block_icon_wrap{
		max-width: 500px;
	}
	.serv_block_ssilka{
		width: 48%;
		margin-right: 4%;
		margin-bottom: 20px;
	}
	.serv_block_ssilka:nth-child(2n+2){
		margin-right: 0;
		margin-left: -5px;
	}
}
@media(max-width: 800px){
	.plashka_seraya_vn{
		width: 100% !important;
	}
	.percent_200_block{
		width: 10.7%;
	}
}

@media(max-width: 480px){
	.serv_block_icon_wrap{
		max-width: 235px;
	}
	.serv_block_ssilka{
		width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.serv_block_ssilka:nth-child(2n+2){
		margin-right: 0;
		margin-left: 0;
	}
	.percent_200_block{
		width: 32.5%;
	}
	.percent_200_block:nth-child(3n+3){
		margin-right: 0;
	}
}
/*================= services ==================*/

























@media(max-width: 800px){
	.news_wrap {
		padding-top: 20px !important;
	}
}

@media(min-width: 800px){
	.otstup_company {
		padding-top: 170px !important;
	}
}




.wrap_menu_services{
	width:100%;
	background-color:#E9E8E8;
	margin-top: 4px;
}


@media(max-width:350px){
	.obshi_new{
				width:200px !important;
	}
}


.block_uslugi_img1 p{
	font-family:Century Gothic,sans-serif;
}
.block_uslugi_img2 p{
	font-family:Century Gothic,sans-serif;
}
.block_uslugi_img3 p{
	font-family:Century Gothic,sans-serif;
}
/*Адаптивность слайдера*/

@media(max-width:950px){
	.bx-wrapper{
		height:500px !important;
	}
	.bx-viewport{
		height:500px !important;
	}
	.slide_z2{
		margin-top:-170px !important;
	}
}

/*///Адаптивность слайдера*/

.konstructiv{
	margin-bottom:0px !important;
}
.konstructiv:last-child{
	margin-bottom:10px !important;
}

/*Адаптивность линий серых плашек и линий заголовков которые выходили за пределы страницы*/
@media(max-width:800px){
	.plashka_seraya{
		width:100% !important;
	}
	.profd{
		margin-left:-10px !important;
	}
	.line_zagran{
		width:100% !important;
		margin-left:0px !important;
	}
	.profd_proj{
		margin-right:-10px !important;
	}
	.text_peredel{
		margin-right:0px !important;
	}
}
/*///Адаптивность линий серых плашек и линий заголовков которые выходили за пределы страницы*/


/*Адаптивность header*/

.header_contacts{
	float:right;
	padding-top:12px;
	padding-right:4.7%;
}


@media(max-width:800px){
	.header_contacts{
		width:140px;
	}

}




/*///Адаптивность header*/
















/* Временно скрыт "портфель проектов" (на главной под слайдером, цифры)*/

.img_detail2:focus{
outline:none;
}

img{
	outline:none;
}
img:hover{
	outline:none;
}
img:active{
	outline:none;
}

.temp {
display:none !important;
}

@media(min-width:970px){
	.forma_vakanci{
		max-width:307px;
		width:100%;
	}
}
@media(max-width:970px){
	.block_form{
		max-width:290px !important;
		width:100%;
	}
}


@media(max-width:800px){
	.block_img_uslugi_index2{
		margin-top:80px !important;
	}
}





@media(max-width:500px){
	.block_slide{
		display:none;
	}
}






/* Цвет placeholder у input в контактах */



.cont_inp1::-webkit-input-placeholder { /* WebKit browsers */
   color:   #0073AC;
}
.cont_inp1:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #0073AC;
}
.cont_inp1::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0073AC;
}
.cont_inp1:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #0073AC;
}

/* ////Цвет placeholder у input в контактах */

@media(max-width:800px){
	.project_wrap{
		padding-top:0px !important;
	}
}


.parametri{
	float:left;
}





















/* стили для адаптивного детального элемента в галерее проектов  */

/*//1000*/

.opis_project_zagl{
	margin-bottom: 10px;
	font: 20px Verdana,sans-serif;
	width: 50%;
	float:right;
}


@media(max-width:1000px){
	.foto_big2{
		width:100% !important;
		height:auto !important;
	}
	.foto_big2 a img{
		width:100% !important;
		height:auto !important;
	}
	.stadia_real{
		position:relative !important;
		margin-top:10px;
		margin-bottom:10px;
		width:100% !important;
		top:0px !important;
		left:0px !important;
		padding: 8px 0px !important;
		max-width:100% !important;
	}
	.carousel{
		max-width:100% !important;
		margin-top:2px !important;
		margin-left:0px !important;
	}
	.carousel-wrapper{
		max-width:100% !important;
	}
}
@media(max-width: 1000px){
	.no1{
		height: auto !important;
	}
}
@media screen and (min-width:800px) and (max-width:1000px){
	.no1{
		width:100% !important;
		text-align:center !important;
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.no_2_spa{
		width:100% !important;
		text-align:center !important;
	}
	.no2{
		width:100% !important;
		text-align:center !important;
		max-width:800px !important;
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.parametri{
		float:none;
	}
	.flash_banner{
		max-width:100% !important;
	}
}
@media(max-width: 510px){
	.footer_block2 span{
		display: block !important;
	}
}


@media(max-width:800px){
	.news_block_pd{
		float:left !important;
		clear:both !important;
	}
	.profil_d_block_copy{
		width:100% !important;
	}

}
@media(max-width:675px){

	.text_big{
		margin-right:0px !important;
	}
	.no1{
		width:100% !important;
		text-align:center !important;
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.no_2_spa{
		width:100% !important;
		text-align:center !important;
	}
	.no2{
		width:100% !important;
		text-align:center !important;
		max-width:800px !important;
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.parametri{
		float:none;
	}
	.flash_banner{
		max-width:100% !important;
	}
}
@media(max-width:540px){
	.opis_project_zagl{
		float:none;
		width:100%;
	}
}


/* ///стили для адаптивного детального элемента в галерее проектов  */







.news_d {
    width: 323px;
    height: 180px;
}


.company_block1{
	float:left;
	width:49.8%;
	margin-right:2px;
	min-width:270px;
}
.company_block2{
	float:left;
	width:49.8%;
	min-width:270px;
}

@media(max-width:800px){
	.company_block1{
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
		.company_block2{
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
}







.gen_podryad:visited{
	color:#08c !important;
}



.prosmotr_gal:visited{
	color:#08c !important;
}



.company_partners a{
	color:#8c8c8c;
}

.company_partners a:visited{
	color:#8c8c8c;
}

.buklet a:visited{
	color:#08c;
}



/*body p{
line-height:1.4em;
}
body li{
line-height:1.4em;
}
body a{
line-height:1.4em;
}*/


.q1 img{
	width:200px;
	height:100px;
}
.q1{
	width:200px;
}

/*.grow img {
    height: 300px;
    width: 300px;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.3); /* в скобках написанно во сколько раз будет увеличенно изображение */
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.grow {
    width:300px;
    height:300px;
    overflow: hidden;
    float:left;
}

*/








#bx_incl_area_2_3{
width:100%;
}



.time_b{
border-radius:3px;
}

.pp2{
border-radius:3px;
}

.pp1{
border-radius:3px;
}





html{
overflow-x:hidden;
}


.news22:visited {
    color: #333333;
}

.read:visited{
	color:#0088CC;
}

.back_a{
color:#038ed3;
}
.back_a:visited{
color:#038ed3;
}



/* КОНТАКТЫ  */

.cont_inp1{
	border-radius:0px !important;
	width:95%;
	margin-bottom:2px ;
	height:20px;
	font-family:Verdana,sans-serif;
}

.block_kontakti #bx_incl_area_2_3{
	display:table;
	height: 170px;
	margin-left:auto;
	margin-right:auto;
}

.cont_home{
	background: rgba(0, 0, 0, 0) url("/bitrix/images/cont_home.png") no-repeat scroll 0 -2px / 35px 35px;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 5px;
    padding-left: 45px;
}

.cont_home2{
	background: rgba(0, 0, 0, 0) url("/bitrix/images/cont_tel.png") no-repeat scroll 0 4px / 35px 35px;
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 3px;
    padding-left: 45px;
    padding-top: 9px;
}

.cont_home3{
	background: rgba(0, 0, 0, 0) url("/bitrix/images/cont_mail.png") no-repeat scroll 0 -3px / 35px 35px;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 5px;
    padding-bottom: 6px;
    padding-left: 45px;
    padding-top: 5px;
}





.block_kontakti{
	float:left;
	width:327px;
	height:170px;
	background-color:#878787;
	display: table;
}

.block_kontakti_2{
	display:table;
	height:170px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

.block_kontakti_form{
	float:left;
	width:325px;
	height:170px;
	background-color:#0088CC;
}

.block_kontakti_banner{
	float:left;
	width:325px;
	max-height:170px;
	margin-right:2px;
}

.wrapper_new{
	padding-left: 10px;
    padding-right: 10px;
    max-width: 980px;
    min-width: 100px;
    margin: 160px auto 0px;
    border: 0px solid red;
}
.profil_d_block_copy_contact{
	float: left;
    margin: 31px 0.2% 0 0;
    min-width: 250px;
    width: 66.8%;
}
.news_block_pd_contacts{
	margin: 31px 0 0 0;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    min-width: 250px;
    float: left;
}
.profd_new{
	background-color:#878787;
	margin-right:0px;
	margin-bottom:20px;
	margin-left: -156%;
}
.news_r_new{
	margin-bottom:20px;
	background-color:#08c;
}


@media(max-width:1000px){
	.news_block_pd_contacts{
		display:block;
		float:none;
		width:100%;
	}
	.profil_d_block_copy_contact{
		float:none;
		width:100%;
	}
	.profd_new{
		margin-right:-10px;
	}
	.news_r_new{
		margin-left:-10px;
		margin-right:-10px;
	}
}

@media(max-width:800px){
	.profd_new{
		margin-right:-20px;
	}
	.news_r_new{
		margin-left:-20px;
		margin-right:-20px;
	}
	#map{
		margin-top:31px !important;
	}
}

@media(max-width:695px){
	.block_kontakti_banner{
		float:none;
		margin:0 auto 2px;
	}
	.block_kontakti{
		margin:0 auto;
		float:none;
	}
	.block_kontakti_form{
		margin:0 auto;
		float:none;
	}
}
@media(max-width:365px){
	.block_kontakti_banner{
		width:270px;
	}
	.block_kontakti{
		width:270px;
	}
	.block_kontakti_2{
		width:270px;
	}
	.cont_home{
		background-size:30px 30px;
		padding-left:32px;
	}
	.cont_home2{
		background-size:30px 30px;
		padding-left:32px;
	}
	.cont_home3{
		background-size:30px 30px;
		padding-left:32px;
		padding-top:4px;
	}
	.block_kontakti_form{
		width:270px;
	}
}

/* //КОНТАКТЫ  */




/* ВАКАНСИИ */

.vakanc{
	width:100%;
	background-color:#fff;
	margin-top:120px;
}

.inp11{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
	font-size: 13px;
}

.inp1{
	width:94.5%;
	border-radius: 0 !important;
}

.profd2{
	margin-bottom:50px;
	background-color:#585858;
	margin-right: -27px;
}

.profil_d_block_copy2{
    margin: 31px 0 0 2px;
	display:inline-block;
	vertical-align:top;
    width: 65.8%;
    min-width:250px;
	float:left;
}

.text_vakans{
/*height:226px;*/
}

.vak_block_form{
	max-width:700px;
/*height:210px;*/
	background-color:#878787;
}

.vak_block_text_form{
	display:inline-block;
	vertical-align:top;
	max-width:271px;
	padding-top: 42px;
	margin:0px 0px 0px 24px;
}

.block_form{
	display:inline-block;
	vertical-align:top;
	max-width:333px;
	padding-top: 42px;
	width:100%;
	margin-left: 3px;
}


@media(max-width:800px){
	.profd2{
		margin-bottom:50px;
		background-color:#424242;
		margin-left: -156%;
		margin-right: -10px;
	}

	.profil_d_block_copy2{
        margin: 40px 0 0 0;
        float:none !important;
        width: 100% !important;
        min-width:250px;
    }
	.text-vakans_1{
		margin-bottom:0px !important;
		padding-top:0px !important;
		display:none;
	}
	.rus_list{
		margin:0px !important;
	}
	.text_vakans{
		height:auto !important;
	}

	.vak_block_form{
		height:auto !important;
	}

	.vak_block_text_form{
		margin-right:10px !important;
	}

	.block_form{
		max-width:300px !important;
	}

	.vakanc{
		margin-top:0px !important;
	}

}
@media(max-width:632px){
/*.block_form{
		margin-left:0px;
}*/
/*.vak_block_text_form{
		margin-right:24px !important;
}*/
	.vak_block_text_form{
		display:block;
		margin:0 auto !important;
		padding:42px 20px 0;
	}
	.block_form{
		display:block;
		margin:0 auto !important;
		padding-bottom:1px;
	}
}
.kav1{
	background:url(/img/kav1.png)no-repeat;
	background-size:20px 20px;
	height: 20px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 20px;
}
.kav2{
	background:url(/img/kav2.png)no-repeat;
	background-size:20px 20px;
	height: 20px;
    right: 0;
    position: absolute;
    bottom: 5px;
    width: 20px;
}

/* /ВАКАНСИИ */





/* Строительно-монтажные работы элемент детально */





/* Служба генерального подрядчика */

.proba_min3{
    height:180px;
    width:80px;
	background-color:#0088CC;
    float:left;
	position:relative;
}

.arrow2_3 {
           display: inline-block;
           position: relative;
           text-indent: -9999px;
           width: 36px;
           height: 36px;
           background: url(/bitrix/images/uslugi_img3.2.png)no-repeat;
		   background-size:60px 60px;
    }
    .arrow2_3 .arrow3_4 {
           position: absolute;
           top: 0; left: 0; bottom: 0; right: 0;
           background: url(/bitrix/images/uslugi_img3.png)no-repeat;
			/*background-position: 0px 0;*/
			background-size:60px 60px;

			opacity: 0;
	        -webkit-transition: opacity 0.5s;
	        -moz-transition: opacity 0.5s;
	        -o-transition: opacity 0.5s;
    }

.proba2:hover .arrow3_4 {							/* !!!обратить внимание как написанно hover span */
	        opacity: 1;					
	}


/* /Служба генерального подрядчика */






/* Комплексное проектирование элемент детально */


.opisanie_li{

}


.toggle_class{
	background-color:#000;
	margin-bottom:2px;
	color:#fff;
	padding:5px 10px 5px 10px;
}

.etaj_no{
	margin-bottom:2px;
	color:#fff;
	background-color:#585858;
	padding:5px 10px 5px 10px;
}

.podsvet:hover{
	background-color:#918F8F !important;

}

.podsvet{
	background-color:;
	-webkit-transition: background 0.5s ease, color 0.3s ease;
}


.plan_reshenya{
	max-width: 327px;
	width:100%;
}

.no1{
background-color:#E9E8E8;
margin-right:2px;
padding: 5px;
float:left;
width:315px;
color:#8C8C8C;
}
.no2{
background-color:#E9E8E8;
padding: 5px;
float:left;
/*max-width:317px;*/
width:100%;
color:#8C8C8C;
}
.no_2_spa{
float:left;
display:block;
}
.no3{
background-color:#E9E8E8;
margin-right:2px;
padding: 5px;
float:left;
width:265px;
padding-left:30px;
color:#8C8C8C;
}
.div_otstup{
	margin-bottom:2px;
}


/* раздел услуги главная */

.top_block{
	width:100%;
	background-color:#fff;
	padding-bottom: 20px;
	padding-top:142px;
}

@media(max-width:800px){
	.top_block{
		padding-top:20px !important;
		margin-top:0px;
	}
}


.block_img_uslugi_index{
	min-height:100%;
	padding:80px 0px;
	background-image: url('/bitrix/images/stroika.jpg');
	background-size: 100% 100%;
	top:-100px;
    left:0;
    z-index: -1;
	position: fixed;
	min-width:100%
}

@media(max-width:800px){
	.block_img_uslugi_index{
		top:0px !important;
		min-width:120%
	}
}
@media(max-width:600px){
	.block_img_uslugi_index{
		min-width:140%
	}
}
@media(max-width:500px){
	.block_img_uslugi_index{
		min-width:150%
	}
}
@media(max-width:400px){
	.block_img_uslugi_index{
		min-width:165%
	}
}




.menu_uslugi{
	max-width:980px;
	margin-left:auto;
	margin-right:auto;
	padding: 5px 10px;
}



.menu_uslugi_a1{
	display:inline-block;
	vertical-align: middle;
	color:#8c8c8c;
	font-size: 13px;
	margin-right: 48.5px;
	line-height: 1;
	margin-top: -3px;
}
.menu_uslugi_a1:visited{
	color:#8c8c8c;
}

.menu_uslugi_a2,.menu_uslugi_a2-2{
	display:inline-block;
	vertical-align: middle;
	color:#8c8c8c;
	font-size: 13px;
	margin-right: 48.5px;
	text-align: center;
	line-height: 1;
	margin-top: -3px;
}
.menu_uslugi_a2:visited,.menu_uslugi_a2-2:visited{
	color:#8c8c8c;
}
.menu_uslugi_a3{
	display:inline-block;
	vertical-align: middle;
	color:#8c8c8c;
	font-size: 13px;
	text-align: center;
	margin-top: -3px;
}
.menu_uslugi_a3:visited{
	color:#8c8c8c;
}

@media(max-width:992px){
	.menu_uslugi{

	}
	.menu_uslugi_a1{
		display: block;
		margin: 0 auto 10px;
		text-align: center;
	}
	.menu_uslugi_a2,.menu_uslugi_a2-2{
		display: block;
		margin: 0 auto 10px;
		text-align: center;
	}
	.menu_uslugi_a3{
		display: block;
		margin: 0 auto 0px;
		text-align: center;
	}
}







.block_uslugi_img1{
	padding-top:20px;
	margin: 17px 80px 17px 0;
	width:200px;
	float:left;
}


.block_uslugi_img2{
	padding-top:20px;
	margin: 17px 80px 17px 0;
	width:200px;
	float:left;
}


.block_uslugi_img3{
	padding-top:20px;
	width:200px;
	float:left;
	margin: 17px 0px 17px 0;
}

@media(max-width:800px){
	.block_uslugi_img1{
		float:none;
		margin: 17px auto 17px auto;
	}
	.block_uslugi_img2{
		float:none;
		margin: 17px auto 17px auto;
	}
	.block_uslugi_img3{
		float:none;
		margin: 17px auto 17px auto;
	}
}





.uslugi_img1{
	margin-left:auto;
	margin-right:auto;
	width:130px;
	height:130px;
	background-image: url('/bitrix/images/uslugi_img1.png');
	background-size: 130px 130px;
	position:relative;
}

.uslugi_img1 span {
        background: url('/bitrix/images/uslugi_img1.2.png') no-repeat;
		background-size: 130px 130px;
		width:130px;
		height:130px;
		opacity:0;
		position:absolute;
		-webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
}

.uslugi_img1:hover  span{
	opacity:1 !important;
}


.uslugi_img2{
	margin-left:auto;
	margin-right:auto;
	width:130px;
	height:130px;
	background-image: url('/bitrix/images/uslugi_img2.png');
	background-size: 130px 130px;
	position:relative;
}

.uslugi_img2 span {
        background: url('/bitrix/images/uslugi_img2.2.png') no-repeat;
		background-size: 130px 130px;
		width:130px;
		height:130px;
		opacity:0;
		position:absolute;
		-webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
}

.uslugi_img2:hover  span{
	opacity:1 !important;
}





.uslugi_img3{
	margin-left:auto;
	margin-right:auto;
	width:130px;
	height:130px;
	background-image: url('/bitrix/images/uslugi_img3.png');
	background-size: 130px 130px;
	position:relative;
}

.uslugi_img3 span {
        background: url('/bitrix/images/uslugi_img3.2.png') no-repeat;
		background-size: 130px 130px;
		width:130px;
		height:130px;
		opacity:0;
		position:absolute;
		-webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
}

.uslugi_img3:hover  span{
	opacity:1 !important;
}





/*/раздел услуги главная*/


/* раздел услуи строительно - монтажные работы*/

.arrow2_2 {
           display: inline-block;
           position: relative;
           text-indent: -9999px;
           width: 36px;
           height: 36px;
           background: url(/bitrix/images/uslugi_img2.2.png)no-repeat;
		   background-size:60px 60px;
    }
    .arrow2_2 .arrow3_3 {
           position: absolute;
           top: 0; left: 0; bottom: 0; right: 0;
           background: url(/bitrix/images/uslugi_img2.png)no-repeat;
			/*background-position: 0px 0;*/
			background-size:60px 60px;

			opacity: 0;
	        -webkit-transition: opacity 0.5s;
	        -moz-transition: opacity 0.5s;
	        -o-transition: opacity 0.5s;
    }

/*.proba2:hover .arrow3_3 {							/* !!!обратить внимание как написанно hover span */
	        opacity: 1;					
}*/



.proba_min2{
    height:180px;
    width:80px;
background-color:#898989;
    float:left;
position:relative;
}



/* /раздел услуи строительно - монтажные работы*/



.arrow2_stm_proekti {
           display: inline-block;
           position: relative;
           text-indent: -9999px;
           width: 36px;
           height: 36px;
           background: url(/bitrix/images/uslugi_img2.2.png)no-repeat;
		   background-size:60px 60px;
    }

.proba_min_stm_proekti{
	background-color:rgb(137,137,137);
	height:180px;
	width:80px;
	float:left;
}



/* раздел услуи комплексное проектирование*/


  .arrow2 {
           display: inline-block;
           position: relative;
           text-indent: -9999px;
           width: 36px;
           height: 36px;
           background: url(/bitrix/images/serv1.png)no-repeat;
		   background-size:60px 60px;
    }




.serv_img{

	width:60px;
	height:60px;
}




.menu_services_right{
	margin:0px;
}

.menu_services_right li{
	border-top:1px solid #8C8C8C;
	list-style-type:none;
padding-top:12px;
padding-bottom:12px;
line-height: 1;
}
.menu_services_right li:nth-child(1){
	border:none;
padding-top:0px
}


.menu_services_right li:nth-last-child(1){
	padding-bottom:0px;
}

.active2{
color:#038ED3 !important;
}


/* /раздел услуи комплексное проектирование*/


.proba_min2{
	height: 180px;
    width: 80px;
    background-color: #898989;
    float: left;
}

.proba_min{
	height:180px;
	width:80px;
	background-color:#585858;
	float:left;
}



.image_news{
		float:none !important;
	}


.float_style{
		float:right;
}

.proba{
	float:left;
}

.profil_d_block_copy{
	margin: 31px 0.2% 0 0;
	float:left;
	width: 66.8%;
	min-width:250px;
	}


@media(max-width:800px){

	.project_wrap2{
		padding-top:20px !important;
	}
}
















/*Адаптивность УСЛУГИ*/



.line_bold{
	width:100%;
	height:30px;
	margin-top: -40px;
}


/*//1000*/

@media(max-width:800px){
	.proba_big{
		/*width:220px !important;*/
	}
	.new_class{
		width:655px;
		margin:0 auto !important;
	}
	.line_bold{
		margin-top: -16px;
	}
	.new_class_news{
		padding:0 20px;
	}
	.new_foto_news{
		margin-left:auto;
		margin-right:auto;
	}
}

@media (min-width:800px) and (max-width:1000px) {
	.float_style{
		float:none;
	}
	.new_class{
		width:325px;
		margin:0 auto !important;
	}
	.line_bold{
		margin-top: -16px;
	}
}
@media(max-width:680px){
	.float_style{
		float:none;
	}
	.new_class{
		width:325px;
		margin:0 auto !important;
	}
}
@media(max-width:350px){
	.float_style{
		width:280px !important;
	}
	.proba2{
		width:280px !important;
	}
	.proba_big{
		width:200px !important;
	}
	.new_class{
		width: 280px;
	}
}

/*//// Адаптивность УСЛУГИ*/












@media(max-width:800px){


	.profil_d_block_copy{
		margin: 40px 0.2% 0 0;
		float:none !important;
		width: 100% !important;
		min-width:250px;
	}
	.otstup{
		padding-left:10px !important;
		padding-right:10px !important;
	}

}

.img_news img{
margin:0px !important;
}

.prt{
	min-height:0px !important;
}









.profd{
	background-color:#585858;
	margin-left: -156%;
	margin-right:0px;
	margin-bottom:16px;

}


.news_block_pd{
	margin:31px 0 0 0;
	display:inline-block;
	vertical-align:top;
	width:33%;
	min-width:250px;
	float:left;
}



.text-vakans_2{
	color:#898989; 
	font-size:12px;
	margin-left:20px;
	line-height:1;
}

.text-vakans_1{
	margin-bottom:15px;
	color:#43442; 
	font-size:16px;
	margin-left:20px;
	padding-top:30px;
}








@media(max-width:800px){
	.news_r{
		margin-right:-10px;
		margin-left:-10px;
	}
	.profd{
		margin-bottom:50px;
		background-color:#424242;
		margin-left: -156%;
		margin-right: -10px;
	}

	.profil_d_block{
		margin:40px 3% 0 0;
		float:left;
		width:auto !important;
		min-width:250px;
	}

	.news_block_pd{
		margin:40px 0 0 0;
		float:left;
		/*width:auto;*/
		min-width:250px;
		width:100%;
	}

	.text-vakans_2, .text-vakans_1{
		margin-left:0px;
	}
	.profil_d_block_copy2{
		margin-top:0px;
	}
}












/*повторяющиеся стили*/






#wrapper_header{
	max-width:980px;
	padding-left:10px;
	padding-right:10px;
}


.wrapper1{
	padding-left:10px;
	padding-right:10px;
	max-width:980px;
	min-width:100px;
	margin:0px auto 0px; 
}
@media(max-width:800px){

.wrapper1{
	max-width: none !important;
	padding-left:0px !important;
	padding-right:0px !important;
}

.otstup{
	padding-left:10px;
	padding-right:10px;
}

}


/* футер блоки контактов */
.footer_wrapper{
		background:url(/img/footer_wrap.png)no-repeat;
		background-size: 2000px 100%;
}
.footer_block1{
	font-size:12px;
	display:inline-block;
	vertical-align:top;
	width:33%;
	min-width:235px;
	margin-bottom: 24px;
	font-weight:bold;
}
.footer_block2{
	color:#585858;
	font-size:12px;
	display:inline-block;
	vertical-align:top;
	padding-top: 26px;
	width:33%;
	min-width:250px;
	font-weight:bold;
	text-align: center;
}
.footer_block2 span{
	display:block;
	width:130px;
	color: #585858;
	display:inline-block;
	vertical-align: top;
}
@media(max-width: 509px){
	.footer_block2{
		text-align: left;
	}
}
.copy p{
	color: #fff;
	text-align: center;
}
.copy{
	min-width: 250px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}
@media(max-width: 800px){
	.copy{
		margin-top: 50px;
	}
	.footer_grey{
		padding-bottom:50px;
	}
}

.footer_grey{
	padding-left:10px;
	padding-right:10px;
	padding-top:20px;
	max-width:980px !important;
	min-width:200px;
	min-height: 60px;
	max-height: 230px;
	margin:0px auto;
}
.footer_block3{
	display:inline-block;
	vertical-align:top;
	font-size:12px;
	padding-top: 26px;
	float:right;
	width:33%;
	text-align:right;
	min-width:182px;
	font-weight:bold;
}
@media(max-width:767px){
	.footer_block3{
		float:none;
		text-align:left;
		margin-bottom:30px;
		padding-top:10px;
	}
	.footer_block1{
		margin-bottom:0px;
	}
}
@media(max-width:508px){
	.footer_block2{
		padding-top:10px;
	}
}


/* /футер блоки контактов */






/* футер соцсети */

.logotype1{
	background:url(/bitrix/images/logotype4.png)no-repeat;
	width:35px;
	height:35px;
	background-size:35px 35px;
	display:block;
	float:right;
	margin-right:10px;
	cursor:pointer;
}

.logotype2{
	background:url(/bitrix/images/logotype6.png)no-repeat;
	width:35px;
	height:35px;
	background-size:35px 35px;
	display:block;
	float:right;
	margin-right:10px;
	cursor:pointer;
}
.logotype3{
	background:url(/bitrix/images/logotype1.png)no-repeat;
	width:35px;
	height:35px;
	background-size:35px 35px;
	display:block;
	float:right;
	margin-right:10px;
	cursor:pointer;
}
.logotype4{
	background:url(/bitrix/images/logotype2.png)no-repeat;
	width:35px;
	height:35px;
	background-size:35px 35px;
	display:block;
	float:right;
	margin-right:10px;
	cursor:pointer;
}
.logotype5{
	background:url(/bitrix/images/logotype3.png)no-repeat;
	width:35px;
	height:35px;
	background-size:35px 35px;
	display:block;
	float:right;
	cursor:pointer;
}

@media(max-width:800px){
	.socsety{
		margin-left:auto;
		margin-right:auto;
		float:none !important;
		padding-bottom:20px;
	}
	.news_vacans{
		float:none !important;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		padding-left:12px;
	}
}


.news_vacans{
	float:left;
	margin-top: 5px;

}
.button_footer{
	background-color:#585858;
}

.news_vacans_1{
	font-size:12px;
	color:#fff;
	border-right:1px solid #fff;
	padding:0 12px 0 0;
	cursor:pointer;
}
.news_vacans_1:visited{
	color:#fff;
}
.news_vacans_2{
	font-size:12px;
	cursor:pointer;
	color:#fff;
	padding-left:7px;
}
.news_vacans_2:visited{
	color:#fff;
}

/* /футер соцсети */










@media(min-width:800px){
	#wrapper_header{
		padding-bottom:20px;
	}
}


.slider1 img{
	height:100px !important;
}



.b1_img img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    /*Добавим вот такой вот код*/
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    /*конец кода с transition*/
}
.b1_img img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */
}


/*РАЗДЕЛ НОВОСТИ*/
.rus_proba{
	max-width:326px;
	width:100%;
}
.rus_proba_vn{
	float:left;
	height:180px;
	padding:0 20px;
}
@media(max-width:1001px){
	.rus_proba_vn{
		padding:0px;
	}
}

.det_img_news_block{
	max-width:323px;
	float:left; 
	margin-top:15px;
	text-align:center;
	overflow:hidden;
}
.det_img_news_a{
	display:block;
	overflow:hidden;
	max-width:323px;
	height:180px;
}
.det_img_news_a img{
	min-width:195px;
	min-height:130px;
	max-width:323px;
	max-height:300px;
	width:100%;
}


/*/РАЗДЕЛ НОВОСТИ*/



.news22{
	color:#333333;
	font-weight:bold;
}





.eng{
	border-right:1px solid #434242;
	cursor:pointer;
	margin-right:10px;
	padding-right:10px;
	font-size 14px;
	color: "#08c";
}

.rus{
	font-size 14px;
	cursor:pointer;
}
@media(max-width:800px){
	.eng{
		border-right:none;
		cursor:pointer;
		margin-right:10px;
		padding-right:0px;
		font-size 14px;
		color: "#08c";
	}
}






.bx-wrapper{
	height:600px;
}
.bx-viewport{
	height:600px !important;
}



.cont_block{
	margin:10px auto 0px;
	width:100px;
	position:relative;
	z-index:9;
}
@media(min-width:800px){
	.cont_block{
		display:none;
	}
}
@media(max-width:800px){
	.cont_block{
		display:block;
	}
}




#next{
	width:32px;
	height:32px;
	background: url("images/controls.png") no-repeat scroll -43px -32px rgba(0, 0, 0, 0);
	display:block;
	z-index:9;
}

#prev{
	width:32px;
	height:32px;
	background: url("images/controls.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0);
	display:block;
	z-index:9;
}





#carousel a{
	display:block;
}



.example-desc {
        margin:3px 0;
        padding:5px;
      }

      #carousel {
			width:100%;
			height:230px;
			position:relative;
			clear:both;
			overflow:hidden;
			top:-20px;
			margin-bottom:-60px;
      }
      #carousel img {
        visibility:hidden;
        cursor:pointer; 
      }

      .split-left {
        width:450px;
        float:left;
      }
      .split-right {
        width:400px;
        float:left;
        margin-left:10px;
      }
      #callback-output {
        height:250px;
        overflow:scroll;
      }









/*//////////////////////////////////////////////////*/


.pp1{
	padding: 6px 55px 6px 10px;
	float:left;
	margin: 3.2% 12px 0 0;
	color:#fff;
	font-size: 16px;
	background-color:#585858;
}

.pp2{
	padding: 6px 18px 6px 10px;
	float:left;
	margin: -10px 12px 0 0;
	color:#fff;
	font-size: 16px;
	background-color:#878787;
	}


.portf_project{
	color: #434242;
	font-size:16px;
	float:left;
	margin:5.5% 0 0 88px;
}




@media(max-width:800px){
	.pp1{
		float:right;
		padding: 6px 95px 6px 10px;
		font-size: 14px;
	}

	.pp2{
		float:right;
		margin:0px 30px 30px 0;
		color:#fff;
		font-size: 14px;
	}

	.portf_project{
		color: #434242;
		font-size:16px;
		float:left;
		margin:5.5% 0 0 0px;
	}

}



/*////////////////////////////////////////////////////*/









.b1_img img {
    height: auto;
    width: 100%;
	max-width:150%;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.b1_img img:hover {
	-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}



.b1,.b2,.b3,.b4,.b5,.b6{
	min-width:260px;
	width:33.1%;
	float:left;
}


.b1_img{
	overflow: hidden;
	width:100%;
	display:block;
	max-height:170px;
	min-height:70px;
}



.b1 p,.b2 p,.b3 p,.b4 p,.b5 p,.b6 p{
	line-height:1 !important;
	margin-top:5px;
	color:#898989;
}



.b2,.b1,.b4,.b5{
	margin-right:2px;
}




















@media(min-width:800px){
	#horizontal-multilevel-menu li a[href*='/contacts']{
		padding-right:0px !important;
	}
}




#horizontal-multilevel-menu{
	text-align:center !important;
	display:block !important;
}



@media(max-width:800px){
	.block_slide{
		margin-top:0px !important;
	}
}

.block_slide{
	width:100%;
	background-color:#434242;
	margin-top:80px;
}

@media(max-width:800px){
	.block1{
		width:100%;
		position:static !important;
	}
}
.block1{
		background-color:#EBECEC;
		top:0px;
		width:100%;
		position:fixed;
		z-index:994
}







@font-face 
{
    font-family: "aghelvetica";
    src: url("/bitrix/fonts/aghelvetica.eot");
    src: url("/bitrix/fonts/aghelvetica.eot?#iefix") format("embedded-opentype"),         /* поэкспериментировать с написанием папки fonts , /font */
         url("/bitrix/fonts/aghelvetica.woff") format("woff"),
         url("/bitrix/fonts/aghelvetica.ttf") format("truetype"),
         url("/bitrix/fonts/aghelvetica.svg#cambria") format("svg");
    font-weight: normal;
    font-style: normal;
}




body{
color:#434242 !important;
}



.news-item{
line-height:1;
}



@media(min-width:800px){
	.menu{
		float:right;
		margin-right:35%;
	}

}


.menu ul{
	text-align: center;
}

.menu ul li a{
	color:#434242;
	cursor:pointer;
	font-size:12px;
}
.menu ul li a:hover{
	text-decoration:none;
}



.menu ul li{
	list-style-type:none;

}





/*////////////////////////////////*/


@media(min-width:801px){


	.menu ul li:nth-child(1){
		border-left:none;
	}


	.menu{
		float:right;
		margin-right:0px;
	}

	.menu ul li a{
		color:#434242;
		cursor:pointer;
		font-size:12px;
	}
	.menu ul li a:hover{
		text-decoration:none;
	}



	.menu ul li{
		float:left;
		border-left:1px solid #434242;
		list-style-type:none;
		margin-left:5px;
		padding-left:5px;
	}



}
























.kkk{
	width:100%;
	min-width:100px;
	margin-bottom:45px;
	color:#898989;
}


.news-item:nth-child(1) {
	border-bottom:1px solid #ccc;
	padding:0px 0 3px 0;
	margin-bottom:30px;
	margin-top:0px;
}

.news-item{
	border-bottom:1px solid #ccc;
	padding:0px 0 30px 0;
	margin-top:10px;
}

.sil{
	color:#434242 ;
	font-size:13px;
	font-weight:bold;
	display:block;
}
.sil:hover{
	text-decoration:none;
}



#slider li{
	height:600px;
}

.bx-wrapper img{
	height:600px !important;
}






.bx-pager ,.bx-default-pager{
	display:none;
}




.slide_z3{
	background-color: #fff;
    height: 70px;
    margin-top: -130px;
    opacity: 0.7;
    position: relative;
    z-index: 10;
}


.slide_z1{
	height:70px;
	opacity:0.7;
	background-color:#fff;
	margin-top:-30px;
	z-index:98;
	position:relative;
}
.slide_z2{
	height:70px;
	margin-top:-70px;
	z-index:99;
	position:relative;
}

.tel{
	float:left;
	font-size:17px;
	font-family:century gothic,sans-serif;
	margin-bottom:30px;
	margin-right:15px;
	line-height: 1.2;
}

@media(max-width:800px){
	.tel{
	float:left;
	font-size:14px;
	font-family:century gothic,sans-serif;
	margin-bottom:5px;
	margin-right:10px;
	width: 100%;
	text-align: right;
}

}

/*Адаптивность header*/

.header_contacts{
	float:right;
	padding-top:12px;
	padding-right:4.7%;
	width: 314px;
}
.logo{
	max-width:230px;
	float:left;
	padding-top:14px;
	margin-top:0px;
}


@media(max-width:800px){
	.header_contacts{
		width:145px;
		margin-top: 8px;
	}
	.eng_rus_block{
		text-align:right;
	}
	.printer{
		margin-left:8px;
	}

}


@media(max-width:617px){
	#wrapper_header{
		padding-bottom:10px;
	}
}

@media(max-width:480px){
	.logo{
		max-width:140px;
	}
	.header_contacts{
		margin-top:6px;
	}
	.logo{
		margin-bottom:30px;
	}
}

@media(max-width:319px){
	.header_contacts{
		width: 145px;
    	margin-bottom: 20px;
    	margin-left: auto;
    	margin-right: auto;
    	float: none;
	}
	.logo{
		margin-right:25px;
	}
}


/*///Адаптивность header*/





@media(max-width:800px){
.printer{
cursor:pointer;
width:32px;
height:25px;
margin-right:5px;
background:url(/bitrix/images/printer.png)no-repeat;
display:block;
background-size:contain;
float:left;
}
}
@media(min-width:800px){
.printer{
background:url(/bitrix/images/printer.png)no-repeat;
cursor:pointer;
width:32px;
height:25px;
margin-right:10px;
display:block;
background-size:contain;
float:left;

position:relative;
}
}

.printer span{
background:url(/bitrix/images/printer2.png)no-repeat;
background-size:contain;

position:absolute;
width:32px;
height:25px;
}













п»їimg {border:0 none;}

h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Helvetica,sans-serif; 
	margin:1.3em 0 1em;
	font-weight:normal;
	line-height:1.2;
}

h1 { font-size:200%; margin:0 0 1em; }
h2 { font-size:160%; }
h3 { font-size:140%; }
h4 { font-size:140%; }
h5 { font-size:120%; }
h6 { font-size:100%; }

hr, .hr 
{
	border-top:1px solid;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:12px 0;
	overflow:hidden;
	padding:0;
}

#workarea ol li, #workarea ul li { margin: 0.6em 0; }
#workarea ul { list-style-type: disc; }




/*???????????????????????????????????????????????????????????????????????????????????????????????????*/






@media(max-width:800px){
	.wrapper1{
		padding-left:10px;
		padding-right:10px;
	}
}












.region_p{
	font-size: 13px;
	background-color: #0994dc;
    color: #fff;
    font-size: 13px;
    padding: 5px;
	margin-bottom:20px;
}


@media(min-width:800px){
.wrapper1{
	padding-left:10px;
	padding-right:10px;
	max-width:980px;
	min-width:100px;
/*margin:160px auto 0px;*/
	border:0px solid red;
}

}
@media(max-width:800px){
.wrapper1{
	padding-left:10px;
	padding-right:10px;
	max-width:980px;
	min-width:100px;
	margin:10px auto 0px;
	border:0px solid red;
}

}




@media(min-width:800px){
#map_canvas{
	width: 100%;
	height: 600px;
}

}
@media(max-width:800px){
#map_canvas{
	width:100%;
	height: 200px;
	min-width:200px;
}

}





.company_p1{
	background-color:#585858;
	color:#fff;
	color: #fff;
    font-size: 13px;
    padding: 5px;
}

.company_p2{
	background-color:#898989;
	color:#fff;
	color: #fff;
    font-size: 13px;
    padding: 5px;
}







/*///////////////////////////////////////////////////////*/


.pp1{
	padding: 6px 55px 6px 10px;
	float:left;
	margin: 3.2% 12px 0 0;
	color:#fff;
	font-size: 16px;
/*font-weight:bold;*/
	background-color:#585858;
}

.pp2{
	padding: 6px 18px 6px 10px;
	float:left;
	margin: -10px 12px 0 0;
	color:#fff;
	font-size: 16px;
/*font-weight:bold;*/
	background-color:#878787;
	}


.portf_project{
	color: #434242;
/*font: bold 16px Arial,sans-serif;*/
/*font-family: "aghelvetica";*/
font-size:16px;
/*font-weight:bold;*/
float:left;
margin:5.5% 0 0 88px;
}




@media(max-width:800px){
.pp1{
	float:right;
/*margin:0px 63px 0px 0px;*/
	padding: 6px 95px 6px 10px;
	font-size: 14px;
}


.pp2{
	float:right;
	margin:0px 30px 30px 0;
	color:#fff;
	font-size: 14px;
}

.portf_project{
	color: #434242;
/*font: bold 16px Arial,sans-serif;*/
/*font-family: "aghelvetica";*/
font-size:16px;
/*font-weight:bold;*/
float:left;
margin:5.5% 0 0 0px;

}

}

/*///////////////////////////////////////////////////////*/



/* Уменьшение крестика на фото в детальном описании объектов */

@media(max-width: 768px){
	#cboxWrapper #cboxContent #cboxClose{
		margin: 10px 10px 0 0;
		top: 0px;
		right: 0px;
		width: 30px;
		height: 30px;
		background-size: 30px;
	}
}

/* Убираем карту в контактах на мобиле */
@media(max-width: 480px){
	#map{
		display: none;
	}
	.wrapper_new{
		margin-top: 0;
	}
}







п»їimg {border:0 none;}

h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Helvetica,sans-serif; 
	margin:1.3em 0 1em;
	font-weight:normal;
	line-height:1.2;
}

h1 { font-size:200%; margin:0 0 1em; }
h2 { font-size:160%; }
h3 { font-size:140%; }
h4 { font-size:140%; }
h5 { font-size:120%; }
h6 { font-size:100%; }

hr, .hr 
{
	border-top:1px solid;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:12px 0;
	overflow:hidden;
	padding:0;
}

#workarea ol li, #workarea ul li { margin: 0.6em 0; }
#workarea ul { list-style-type: disc; }


























.carousel  {
   max-width: 327px; /* ширина всего блока */
   margin: 93px auto 0;
   width:100%;
	float:left;
	margin-left:2px;
}
.carousel-wrapper {
/*margin: 10px 30px;*/ /* отступы для стрелок */
   overflow: hidden; /* скрываем содержимое, выходящее за рамки основной области */
   position:relative;
	float:left;
	max-width:327px;
	width:100%;
}
.carousel-items {
   width: 10000px; /* устанавливаем большую ширину для набора элементов */
   position: relative; /* позиционируем блок относительно основной области карусели */
}
.carousel-block {
   float: left; /* выстраиваем все элементы карусели в ряд */
   width: 108px; /* задаём ширину каждого элемента */
   padding: 0px 2px 0px 0px; /* делаем оступы, чтобы элементы не сливались */
}
.carousel-block img{
	display:block;
}

/*********** BUTTONS ***********/
.carousel-button-left a, .carousel-button-right a{
   width: 25px; 
   height: 36px; 
   position: relative;
/*top: 80px;*/ 
   cursor: pointer; 
   text-decoration:none;
}


.carousel-button-left a{ 
	background: url(/bitrix/images/left_str_gal.png);
	background-size:25px 25px; 
	height:25px;
	width: 25px;

	display: inline-block;
    position: relative;
    text-indent: -9999px;
}

.arrow11 span {
       position: absolute;
       top: 0; left: 0; bottom: 0; right: 0;
       background: url(/bitrix/images/left_str_gal2.png);
	   background-size:25px 25px;
		/*background-position: -50px 0;*/
}


/*.carousel-button-left a:hover{
	background: url(/bitrix/images/left_str2.jpg);
	background-size:25px 25px;
}*/
.carousel-button-right a{
   background: url(/bitrix/images/right_str_gal.png);
	background-size:25px 25px;
	height:25px;
	width: 25px; 
}

.arrow22 span {
       position: absolute;
       top: 0; left: 0; bottom: 0; right: 0;
       background: url(/bitrix/images/right_str_gal2.png);
	   background-size:25px 25px;
		/*background-position: -50px 0;*/
}

/*.carousel-button-right a:hover{
	background: url(/bitrix/images/right_str2.jpg);
	background-size:15px 70px;
}*/



/*********** SHADOW ***********/
/*.shadow{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}*/



/*
@media(min-width:1700px){
	.wrapper1 {
    	max-width: 1286px;
	}
	.profil_d_block_copy{
		width: 76.4%;
		margin-left: -175px;
	}
	.obshi:nth-child(2n+1) {
    	margin-right: 2px;
	}
	.obshi {
    	margin-right: 2px;
	}
	.obshi:nth-child(3n+3) {
    	margin-right: 0px !important;
	}
}
*/




























/*colorbox*/


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/

/*
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}


#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(/bitrix/images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(/bitrix/images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(/bitrix/images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(/bitrix/images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(/bitrix/images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(/bitrix/images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(/bitrix/images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(/bitrix/images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(/bitrix/images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/bitrix/images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}


        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        

        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
*/